﻿@using MeetingManager.Presentation.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Meeting Manager", "Index", "Meeting", null, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (Session["user"] != null)
                        {
                            <p class="navbar-text">

                                Hi&nbsp;@(Html.ActionLink((Session["user"] as ParticipantModel).Name, "Index", "Home")) !
                            </p>

                        }
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/app")
    @if ((Session["user"] as ParticipantModel) != null)
    {
        <script type="text/javascript">
            (function(app) {
                app.NotificationViewModel.init('@((Session["user"] as ParticipantModel).Name)');
            })(window.app = window.app || {});
        </script>
    }
    
    @RenderSection("scripts", required: false)
</body>
</html>
