﻿@model HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <p>Controller: @Model.ControllerName</p>
        <p>Action: @Model.ActionName</p>
        <p>Exception: @Model.Exception</p>
    </hgroup>
</body>
</html>
