﻿@using MeetingManager.Presentation.Models
@model MeetingManager.Presentation.Models.MeetingModel

<div class="row" id="meeting-wrapper">
    <div class="col-md-12">
        <h3>Save your meeting</h3>
        <hr />
    </div>

    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("Save", "Meeting", FormMethod.Post, new { @class = "form-horizontal", id = "meetingForm", @data_bind = "submit: saveMeeting" }))
            {
                <div class="form-group">
                    <label for="Subject" class="control-label col-md-3">Subject</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Subject, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="MeetingTime" class="control-label col-md-3">Meeting time</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.MeetingTime, new { @class = "form-control", @type = "datetime" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="control-label col-md-3">Description</label>
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.Description, new { @rows = "3", @class = "form-control" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-default">Save</button>
                        @Html.ActionLink("Cancel", "Index", "Meeting", new { }, new { @class = "btn btn-danger" })
                    </div>
                </div>
            }
            @Html.ValidationSummary(false)

        </div>
        <div class="col-md-6">
            <div class="row">
                <div id="participants" class="col-md-6">
                    <h4><span>Meeting participants</span></h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>User name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: participants">
                            <tr>
                                <td><span data-bind="text: $index"></span></td>
                                <td><span data-bind="text: Name"></span></td>
                                <td>
                                    <button class="btn btn-xs btn-danger" data-bind="click: $parent.removeUserEventHandler, disable: IsCreator">
                                        <span class="glyphicon glyphicon-minus"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="availableUsers" class="col-md-6">
                    <h4><span>Available users</span></h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>User name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: availableUsers">
                            <tr>
                                <td><span data-bind="text: $index"></span></td>
                                <td><span data-bind="text: Name"></span></td>
                                <td>
                                    <button class="btn btn-xs btn-danger" data-bind="click: $parent.addUserEventHandler">
                                        <span class="glyphicon glyphicon-plus"></span> Add
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @if ((Session["user"] as ParticipantModel).Id == Model.CreatorId)
    {
        <hr />
        <div class="row">
            <p>Want to notify them about the meeting? Just type the message here:</p>
            <div class="col-md-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="message">Message</label>
                        <input type="text" id="message" name="message" class="form-control" />
                    </div>
                    <button class="btn btn-default" type="button" data-bind="click: notifyParticipants">Notify</button>
                </form>
            </div>
        </div>
    }


</div>

@section scripts
{
    <script type="text/javascript">
        (function (app) {
            app.MeetingViewModel.initAvailableUsers(@Html.Raw(Json.Encode(Model.AvailableUsers)));
            app.MeetingViewModel.initParticipants(@Html.Raw(Json.Encode(Model.Participants)));

            ko.applyBindings(app.MeetingViewModel);

            $(function () {
                $('#MeetingTime').datetimepicker();
            });
        })(window.app = window.app || {});
    </script>
}
