﻿@model IEnumerable<MeetingManager.Presentation.Models.MeetingListModel>

<div class="row">
    <div class="col-md-12">
        <h3>All meetings</h3>
        <hr />  
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Time</th>
                    <th>Creator</th>
                    <th>#Participants</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var meeting in Model)
                {
                    <tr>
                        <td>
                            @meeting.Subject
                        </td>
                        <td>
                            @meeting.MeetingTime
                        </td>
                        <td>
                            @meeting.Creator
                        </td>
                        <td>
                            @meeting.ParticipantsCount
                        </td>
                        <td>
                            @Html.ActionLink("Remove", "Delete", "Meeting", new { @id = meeting.Id }, new { @class = "btn btn-danger" })
                            @Html.ActionLink("Edit", "Edit", "Meeting", new { @id = meeting.Id }, new { @class = "btn btn-default" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Create new", "Create", "Meeting", new { }, new { @class = "btn btn-default" })
    </div>
</div>