﻿@model int

<section>
    <p> Successfully created meeting </p>
    @Html.ActionLink("Back", "Index", "Meeting",new{}, new { @class = "btn btn-default" })

    
</section>

@section scripts
{
    <script type="text/javascript">
        window.app.NotificationViewModel.notifyCreateMeeting(@Model);
    </script>
}