﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h3>Welcome to my meeting manager</h3>
    @using (Html.BeginForm("LogUser", "Home", FormMethod.Post, new { @role = "form" }))
    {
        <div class="form-group">
            <label for="userName">What is your name?</label>
            <input type="text" id="userName" name="userName" class="form-control"  required />
        </div>
        <button class="btn btn-default" type="submit">Go</button>
    }
        
</div>